<div class="center jumbotron">
	<h1>Bienvenue sur Framework 0</h1>
	<h2>
		Ceci est la page d'accueil pour le projet
		<a href="https://github.com/jbrozzu/Framework0/tree/master/framework0">Framework 0</a>
		de l'École 42.
	</h2>
	<% if !logged_in? %>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	<% end %>
	<% if logged_in? %>
		</br>
		<%= link_to 'Recevoir la Newsletter', "static_pages/home", method: :post, class: "btn btn-lg btn-primary"%>
		<h2 style="font-style: italic;">Dernière mise à jour : Lundi 4 Janvier 2016</h2>
	<% end %>


</div>

	<%= link_to image_tag("rails.png", alt: "42 logo", class: "img42"),
           		 'http://www.42.fr/' %>
