<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="font-weight: bold;">Welcome to Framework0!</h1>
    <br/>
    <p>
      This is our special newsletter with nothing special inside...
    </p>
    <p>Thanks for joining and have a great day!</p>

    <img src="http://www.duchess-france.org/wp-content/uploads/2015/04/42.jpg" alt="Logo 42" style="width: 50px;">
  
</figure>
  </body>
</html>