<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Le Projet <a href="https://github.com/jbrozzu/Framework0/tree/master/framework0"><em>Framework 0</em></a> 
  est un projet web de
  <a href="http://screencasts.railstutorial.org/">l'École 42</a>
  qui permet d'apprendre les base d'un framework tel que
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  Cette application est un exemple simple de ses fonctionnalités.
</p>