<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	Voici la section Help pour le projet 
  <a href="https://github.com/jbrozzu/Framework0/tree/master/framework0">Framework 0</a>.
  En cas de besoin, vous pouvez visiter la 
  <a href="http://www.google.com"><em>Page d'aide</em></a>
  spécialement prévu à cet effet.
</p>