<% provide(:title, "Home") %>
<h1>Framework 0</h1>
<p>
	Ceci est la page d'accueil pour le projet
	<a href="https://github.com/jbrozzu/Framework0/tree/master/framework0">Framework 0</a>, 
	de l'École 42.
</p>